extends ../layout

block content
  .container.page
    .row
      .col-md-10.col-md-offset-1
        h3.text-center About Sidetime.
        |         
        br
        |         
        p.lead
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio placeat possimus dolor, nesciunt odit enim, incidunt facere deserunt fugit vel explicabo. Possimus praesentium suscipit sunt harum labore sapiente, optio eligendi.
        hr
        |         
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, doloremque similique nobis tempore, maiores at officiis pariatur, quisquam non, optio voluptatem! Illo unde eos maxime pariatur voluptas cum aut quaerat?
        |         
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, doloremque similique nobis tempore, maiores at officiis pariatur, quisquam non, optio voluptatem! Illo unde eos maxime pariatur voluptas cum aut quaerat?
        |         
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, doloremque similique nobis tempore, maiores at officiis pariatur, quisquam non, optio voluptatem! Illo unde eos maxime pariatur voluptas cum aut quaerat? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, doloremque similique nobis tempore, maiores at officiis pariatur, quisquam non, optio voluptatem! Illo unde eos maxime pariatur voluptas cum aut quaerat?
        |         
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, doloremque similique nobis tempore, maiores at officiis pariatur, quisquam non, optio voluptatem! Illo unde eos maxime pariatur voluptas cum aut quaerat?
