main
  section
    img.main-header-container.responsive-img(src='/images/code-wallpaper-2.jpg')
    .row.center.home-info
      .col.s12.m4.l4
        .center.promo
          i.large.mdi-action-stars.home-icons
          p.promo-caption Speeds up development
          p.light.center
            | We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.
      .col.s12.m4.l4
        .center.promo
          i.large.mdi-action-find-replace.home-icons
          p.promo-caption Search Randomly
          p.light.center
            | We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.
      .col.s12.m4.l4
        .center.promo
          i.large.mdi-action-group-work.home-icons
          p.promo-caption Connect with other developers
          p.light.center
            | We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.
    .container
      .progress
        .indeterminate
      .row.center
        .col.s12.m6.l6
          h2 Hello World
        .col.s12.m6.l6
          h2 Hello World
