extends layout

block content
  .container
  .row
    .col-md-6.col-md-offset-3
      .form-signin.text-center
        button.close.abs(type="button")
        img(src="img/b-fail.png")
        h3.form-signin-heading.text-center.text-danger 404 Error - Page not found
        hr
        p Please 
          a(href='/login') Sign in
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti rem ratione dolor esse eligendi ipsam aspernatur saepe voluptates nulla enim ullam, quaerat recusandae delectus odio non debitis, nihil odit exercitationem!
