extends layout

block content
  header
    nav
      .nav-wrapper
        a.brand-logo.center.logo-col-brand(href='/'){\ CODE GOBLINS /}
        a.button-collapse(href='#', data-activates='mobile-demo')
          i.mdi-navigation-menu
        ul.right.hide-on-med-and-down
          li(ng-show='user')
            a(href='/profile') Profile
          li
            a(href='components.html') Components
          li
            a(href='javascript.html') Javascript
          li(ng-show='user')
            a.waves-effect.waves-light(ng-click='logout()')
              i.tiny.mdi.mdi-account-check.right
              span Logout
          li(ng-hide='user')
            a.waves-effect.waves-light(ng-click='login()')
              i.tiny.mdi.mdi-account-key.right
              span Login
        ul.left.hide-on-med-and-down
          li
            a.waves-effect.waves-light(href='/browse') Browse
          li
            a(href='components.html') Components
          li
            a(href='javascript.html') Javascript
        ul#mobile-demo.side-nav
          li
            a(href='sass.html') Sass
          li
            a(href='components.html') Components
          li
            a(href='javascript.html') Javascript
          li(ng-show='user')
            a(href='/profile') Profile
  div(ui-view='')

  footer.page-footer
    .container
      .row
        .col.l6.s12
          h5.white-text Footer Content
          p.grey-text.text-lighten-4 You can use rows and columns here to organize your footer content.
        .col.l4.offset-l2.s12
          h5.white-text Links
          ul
            li
              a.grey-text.text-lighten-3(href='#!') Link 1
            li
              a.grey-text.text-lighten-3(href='#!') Link 2
            li
              a.grey-text.text-lighten-3(href='#!') Link 3
            li
              a.grey-text.text-lighten-3(href='#!') Link 4
    .footer-copyright
      .container
        | © 2014 Copyright Text
        a.grey-text.text-lighten-4.right(href='#!') More Links