.side-nav {
  background-color: #FAFAFA;
  height: 100%;
}
.side-row {
  margin-bottom: 0 !important;
}
.profile-image-side-nav {
  padding: 10px;
  margin: 30px auto;
}
.social-count-icons {
  margin: 50px 50px;
}
.profile-table {
  word-wrap: break-word;
}
.chart-container {
  margin: 30px 0;
}