nav .nav-wrapper ul li a:active, nav .nav-wrapper ul li a:hover  {
  color: #2196F3 !important;
}
div.nav-wrapper {
  background-color: #512DA8 !important;
}
.home-icons{
  color: #536DFE;
}
.home-info {
  margin-top: 30px;
}
.page-footer{
  background-color: #512DA8 !important;
  margin-top: 0 !important;
}
.notify-red {
  color: red;
}