section(data-ng-controller='browse')
	.row
		.input-field.col.s6
			i.mdi-action-search.prefix
			input#icon_prefix.validate(type='text' ng-model='searchText.$')
			label(for='icon_prefix') Search for People
	.row
		.col.s6.m3.l3(data-ng-repeat='user in users | array | filter:searchText')
			.center.promo.browse-col.z-depth-1(data-ng-if='user.uid !== key')
				.browse-inner-grid
					img.circle.responsive-img.browse-img(ng-src='{{user.avatar}}')
				.browse-inner-grid-2
					h6.promo-caption(data-ng-bind='user.name')
					p.light.center(data-ng-bind='user.profile.briefProfile || "Nothing to Display"')
					a(ng-href='/profile/{{user.uid}}')
						button.waves-effect.waves-light.btn Visit Profile