section(data-ng-controller='profileCtrl')
  .container.layout
    .col-md-4.bg_blur
      a.follow_btn.hidden-xs(href='#') Follow
    .col-md-8.col-xs-12
      img.img-thumbnail.picture.hidden-xs(data-ng-src='{{ user.google.cachedUserProfile.picture }}')
      img.img-thumbnail.visible-xs.picture_mob(src='{{ user.google.cachedUserProfile.picture }}')
      .header
        h3 Profile stats
        h4 {{ displayCareer }}
        span
          | {{ displayDesc }}
        h2 Top Rated Projects

  .row.nav.layout
    .col-md-4
    .col-md-8.col-xs-12
      .col-md-4.col-xs-4.well
        i.fa.fa-weixin.fa-lg
        |  16
      .col-md-4.col-xs-4.well
        i.fa.fa-heart-o.fa-lg
        |  14
      .col-md-4.col-xs-4.well
        i.fa.fa-thumbs-o-up.fa-lg
        |  26
  .row
    form(name='profile' novalidate)
      .col-md-6
        .form-group(ng-class="{'has-error': profile.career.$invalid && profile.career.$dirty}")
          h3 
            label(for='career') Career
          input#career.form-control(type='text', name='career', data-ng-model='career' placeholder='ex. Web Developer, Consultant', max='20', required)
          span.help-block(ng-show='profile.career.$error.required') Required
        .form-group(ng-class="{'has-error': profile.aboutProfile.$invalid && profile.aboutProfile.$dirty}")
          h3
            label(for='about') Briefly about you
          textarea#about.form-control(data-ng-model='briefProfile', name='aboutProfile', placeholder='Tell people about yourself', max='100' required)
          span.help-block(ng-show='profile.aboutProfile.$error.required') Required
        i.btn.btn-info(data-ng-disabled='!profile.$valid' data-ng-click='editprofile()') Edit Profile  

    form(name='projectForm', novalidate='')
      .col-md-6
        .form-group(ng-class="{'has-error': projectForm.projectUrl.$invalid && projectForm.projectUrl.$dirty}")
          h3 
            label(for='projects') Projects
          input.form-control(name='projectUrl', type='text', placeholder='Enter your project Urls', required='', ng-model='session.projectUrl')
          span.help-block(ng-show='projectForm.projectUrl.$error.required') Required
        .form-group
          button.btn.btn-primary.pull-right(type='submit', value='submit', data-ng-click='submitProject()', title='Submit', ng-disabled='!projectForm.$valid')
            span Submit

    div
      .col-md-6
          ul
            li(data-ng-repeat='projects in getProjects')
               {{projects}}



