section
  .row.side-row
    .col.s12.m3.l3.side-nav.z-depth-2
      img.center.responsive-img.profile-image-side-nav.z-depth-1(data-ng-src='{{ userDetails.profile.avatar }}')
      div(flex-item='6')
        span.fs-title.display-block.mb Information
        .divider.divider--dark
        ul.list(class='mt++')
          li.list-row.list-row--multi-line
            .list-row__primary
              i.icon.icon--s.icon--grey.icon--flat.mdi.mdi-send
            .list-row__content
              span.display-block Display Name
              span.display-block.fs-body-1.tc-black-2(data-ng-bind='userDetails.name')
          li.list-row.list-row--multi-line
            .list-row__primary
              i.icon.icon--s.icon--grey.icon--flat.mdi-action-perm-identity
            .list-row__content
              span.display-block Nickname
              span.display-block.fs-body-1.tc-black-2(data-ng-bind='userDetails.profile.nickname || "No nickname"')
          li.list-row.list-row--multi-line
            .list-row__primary
              i.icon.icon--s.icon--grey.icon--flat.mdi.mdi-pencil
            .list-row__content
              span.display-block Profile Message
              span.display-block.fs-body-1.tc-black-2(data-ng-bind='userDetails.profile.briefProfile || "No personal message yet"')
          li.list-row.list-row--multi-line
            .list-row__primary
              i.icon.icon--s.icon--grey.icon--flat.mdi.mdi-briefcase-check
            .list-row__content
              span.display-block Professional Career
              span.display-block.fs-body-1.tc-black-2(data-ng-bind='userDetails.profile.career || "No career"')
    .col.s12.m6.l6
      .social-count-icons
        div(flex-item='6')
        span.fs-title.display-block.mb Commendations
        .divider.divider--dark
        ul.list(class='mt++')
          li.list-row.list-row--multi-line
            .list-row__primary
              i.fa.fa-weixin.fa-lg
            .list-row__content
              span.display-block {{getCommendationLen}} Commendations
              span.display-block.fs-body-1.tc-black-2 Nice
    .col.s12.m3.l3
      .social-count-icons
        div(flex-item='6')
        span.fs-title.display-block.mb Social Likes
        .divider.divider--dark
        ul.list(class='mt++')
          li.list-row.list-row--multi-line
            .list-row__primary
              div(data-ng-if='userLikes != key')
                i.fa.fa-heart-o.fa-lg.md-icon-button.md-accent(data-ng-click='like_counter()')
              div(data-ng-if='userLikes == key')
                i.fa.fa-heart-o.fa-lg.md-icon-button.md-accent(data-ng-style="{'color': 'red'}")
            .list-row__content
              span.display-block {{likes || 0}} Likes
              span.display-block.fs-body-1.tc-black-2 Nice
    .col.s12.m9.l9
      .container
        p Last seen: 2 days ago
        div(flex-item='6')
          span.fs-title.display-block.mb Commendations
        .divider.divider--dark
        md-content
          md-list
            md-item(dir-paginate='info in commendsData | array | itemsPerPage: pageSize' current-page='currentPage')
              md-item-content
                .md-tile-left
                  img.face(ng-src='{{info.avatar || "http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=500"}}', alt='{{userDetails.profile.nickname}}')
                .md-tile-content
                  h3.commendation-title {{info.topic}}
                  a(ng-href='/profile/{{info.uid}}')
                    h4.commendation-user(data-ng-bind='info.nickname')
                  p.commendation-note
                    | {{info.commends}}
                p.right-align 
                    | Hello
              .divider.divider--dark
            br
            div
              md-button#btn-commends.md-raised.md-primary.md-hue-2(ng-click='showDialog($event)')
                | Add your commendation about this person
          dir-pagination-controls(boundary-links='true' on-page-change='pageChangeHandler(newPageNumber)' template-url='/lib/angular-utils-pagination/dirPagination.tpl.html')
