section
  md-toolbar.md-primary
    h1.md-toolbar-tools
      | Edit your question
  .container(data-ng-controller='QuestionsCtrl')
    md-content.md-padding
      form(name='question')
        md-input-container
          label Topic
          input(required='', name='topics', ng-model='questionData.questionTopic', minlength='10', md-maxlength='200')
          div(ng-messages='question.topics.$error')
            div(ng-message='required') This is required.
            div(ng-message='minlength') The topic has to be more than 10 characters long.
            div(ng-message='md-maxlength') The topic has to be less than 200 characters long.
        label Body
        .wmd-button-bar
        ng-markdown(ng-model='questionData.questionBody' required='' name='markdownText', minlength='10')
        .wmd-preview
        div(ng-messages='question.markdownText.$error')
          div(ng-message='required') This is required.
          div(ng-message='minlength') The body has to be more than 10 characters long.
        md-input-container
          h3
            | Enter 
            a(href='http://plnkr.co')
              | Plnkr 
            | Embed Link (if any)
          label Plnkr link
          input.plnkr_link(name='plnkr', ng-model='questionData.plnkr_link', md-maxlength='60')
          | Don't know where to find your plnkr link?, click here
        md-input-container.next-tag
          h3
            | Enter Tags relating to your question, e.g Javascript, Firebase, NodeJs
          tags-input(ng-model='questionData.tags', name='tag', display-property='lang', allowed-tags-pattern='^[A-Z, a-z]+$',  add-on-comma='true' add-on-blur='false', add-on-space='true', min-tags='1' max-tags='5' allow-leftover-text='false')
        md-progress-linear.showOnload-preloader(md-mode="indeterminate")
        .plnkr-div
          iframe.plnkr-pane(ng-src="{{plnkr_link | trusted}}" width="320" height="240" frameborder="0" allowfullscreen="allowfullscreen")
        section(layout='row', layout-sm='column', layout-align='center center')
          md-button.md-raised.commend-modal-btn(type='reset') Reset
          md-button.md-raised.md-primary.commend-modal-btn(ng-click='updateQuestion(questionData)', ng-disabled='!question.$valid') Update
