section(data-ng-controller='public_questions')
    .row
      .col.s12.m6.l6
        div(flex-item='6', class='mt++')
          a(ng-href='/new' ng-if='user')
            h4 Post a new question
      .input-field.col.s6.right
        i.mdi-action-search.prefix
        input#icon_prefix.validate(type='text' ng-model='searchText.$')
        label(for='icon_prefix') Search
    .divider.divider--dark
    .container.question-list
      ul.list(class='mt++')
        li.list-row.list-row--multi-line.list-row--has-separator(dir-paginate='fetchquestions in getAllQuestions | array | orderBy: "-timestamp" | filter:searchText | itemsPerPage: pageSize'  current-page='currentPage')
          .list-row__primary
            img.img-round(ng-src='{{fetchquestions.avatar || "http://0.gravatar.com/avatar/"}}', width='40', height='40')
          .list-row__content
            a(ng-href='/question/{{fetchquestions.push_key}}')
              span.list-text.display-block(data-ng-bind='fetchquestions.questionTopic')
            span.list-text.display-block.fs-body-1.tc-black-2.truncate(data-ng-bind='fetchquestions.questionBody')
            span.display-block.fs-body-1.tc-black-2.tag-time-line
              div.time_col(am-time-ago='{{fetchquestions.timestamp}}')
              a.collection-item(href='#!', data-ng-repeat='tags in fetchquestions.tags')
                  span.new.badge(data-ng-bind='tags.lang')
          div(ng-if='fetchquestions.answered')
            .list-row__secondary
              i.icon.icon--xs.icon--grey.icon--flat.mdi-action-spellcheck
          div(ng-if='!fetchquestions.answered')
            .list-row__secondary
              i.icon.icon--xs.icon--grey.icon--flat.mdi.mdi-information
      dir-pagination-controls(boundary-links='true' on-page-change='pageChangeHandler(newPageNumber)' template-url='/lib/angular-utils-pagination/dirPagination.tpl.html')





