section
  div(flex-item='6', class='mt++')
    a(ng-href='/new')
      span.fs-title.display-block.mb Post a new question
    .divider.divider--dark
    .container
      ul.list(class='mt++')
        li.list-row.list-row--multi-line.list-row--has-separator
          .list-row__primary
            img.img-round(src='http://0.gravatar.com/avatar/', width='40', height='40')
          .list-row__content
            span.display-block Two-line item
            span.display-block.fs-body-1.tc-black-2
              | Secondary text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam massa quam. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            span.display-block.fs-body-1.tc-black-2
              | Hello guys
              a.collection-item(href='#!')
                span.new.badge 4
                span.new.badge 4
                span.new.badge 4
          .list-row__secondary
            i.icon.icon--xs.icon--grey.icon--flat.mdi.mdi-information
        li.list-row.list-row--multi-line.list-row--has-separator
          .list-row__primary
            img.img-round(src='http://0.gravatar.com/avatar/', width='40', height='40')
          .list-row__content
            span.display-block Two-line item
            span.display-block.fs-body-1.tc-black-2
              | Secondary text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam massa quam. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          .list-row__secondary
            i.icon.icon--xs.icon--grey.icon--flat.mdi.mdi-information
        li.list-row.list-row--multi-line.list-row--has-separator
          .list-row__primary
            img.img-round(src='http://0.gravatar.com/avatar/', width='40', height='40')
          .list-row__content
            span.display-block Two-line item
            span.display-block.fs-body-1.tc-black-2
              | Secondary text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam massa quam. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          .list-row__secondary
            i.icon.icon--xs.icon--grey.icon--flat.mdi.mdi-information
        li.list-row.list-row--multi-line.list-row--has-separator
                  .list-row__primary
                    img.img-round(src='http://0.gravatar.com/avatar/', width='40', height='40')
                  .list-row__content
                    span.display-block Two-line item
                    span.display-block.fs-body-1.tc-black-2
                      | Secondary text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam massa quam. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    span.display-block.fs-body-1.tc-black-2
                      | Hello guys
                      a.collection-item(href='#!')
                        span.new.badge 4
                        span.new.badge 4
                        span.new.badge 4
                  .list-row__secondary
                    i.icon.icon--xs.icon--grey.icon--flat.mdi.mdi-information
                li.list-row.list-row--multi-line.list-row--has-separator
                  .list-row__primary
                    img.img-round(src='http://0.gravatar.com/avatar/', width='40', height='40')
                  .list-row__content
                    span.display-block Two-line item
                    span.display-block.fs-body-1.tc-black-2
                      | Secondary text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam massa quam. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                  .list-row__secondary
                    i.icon.icon--xs.icon--grey.icon--flat.mdi.mdi-information
                li.list-row.list-row--multi-line.list-row--has-separator
                  .list-row__primary
                    img.img-round(src='http://0.gravatar.com/avatar/', width='40', height='40')
                  .list-row__content
                    span.display-block Two-line item
                    span.display-block.fs-body-1.tc-black-2
                      | Secondary text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam massa quam. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                  .list-row__secondary
                    i.icon.icon--xs.icon--grey.icon--flat.mdi.mdi-information
