section(data-ng-controller='questions')
  div(flex-item='6', class='mt++')
    a(ng-href='/new' ng-if='key')
      span.fs-title.display-block.mb Post a new question
    .divider.divider--dark
    .container.question-list
      ul.list(class='mt++')
        li.list-row.list-row--multi-line.list-row--has-separator(data-ng-repeat='fetchquestions in getAllQuestions')
          .list-row__primary
            img.img-round(ng-src='{{fetchquestions.avatar || "http://0.gravatar.com/avatar/"}}', width='40', height='40')
          .list-row__content
            a(ng-href='/question/{{fetchquestions.push_key}}')
              span.list-text.display-block(data-ng-bind='fetchquestions.questionTopic')
            span.list-text.display-block.fs-body-1.tc-black-2.truncate(data-ng-bind='fetchquestions.questionBody')
            span.display-block.fs-body-1.tc-black-2.tag-time-line
              div.time_col(am-time-ago='{{fetchquestions.timestamp}}')
              a.collection-item(href='#!', data-ng-repeat='tags in fetchquestions.tags')
                  span.new.badge(data-ng-bind='tags.lang')
          .list-row__secondary
            i.icon.icon--xs.icon--grey.icon--flat.mdi.mdi-information
